.App {
  text-align: left;
  width: 100%;
}


img{
  max-width: 200px;
}

p{
  font-size: 12px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding:120px;
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}
.item-card{
  flex:1;
  
  border:1px solid white;
  padding:10px;
  overflow: hidden;
  min-width: 25%;
  
 
}
